{% extends "base.html.twig" %}

{% block title %}Résultats du tirage au sort
{% endblock %}

{% block body %}
	<div id="app" class="flex flex-col min-h-screen font-poppins bg-zinc-100"></div>
{% endblock %}
